.svg1
{
   width: 400px;
   height: 200px;
   background-color: rgba(255, 95, 95, 0.11);
   
   border-radius:6px;
   overflow: visible;
}
@media (max-width:500px)
{
   .svg1
   {
      width: 90%;
   }
}